<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body{
            padding: 15px;

        }
        hr.rounded {
        border-top: 8px solid #d7d7d7;
        border-radius: 5px;
        }
    </style>
    <title>My-Sports-Schedular</title>
</head>
<body>
    <h1 class="text-5xl font-serif font-semibold text-slate-600">My-sports-Schedular</h1>
    <div>
        <h2 class="text-3xl font-serif text-stone-600 mt-5">
        <%= "Welcome"+" "+user[0].firstName+" "+user[0].lastName %><span><a class="ml-5 text-xl underline hover:underline-offset-4 underline-offset-2" style="color: blueviolet;" href="/signout">Signout</a><a class="ml-5 text-xl underline hover:underline-offset-4 underline-offset-2" style="color: rgb(68, 186, 0);" href="/User/changePassword">Change Password</a><a class="ml-5 text-xl underline hover:underline-offset-4 underline-offset-2" style="color: rgb(208, 1, 250);" href="/user/user-sessions">My Sessions</a></span>
    </h2>
    </div>
    <% if(user[0].role=="admin"){ %>
            <div>
                <h3 class="text-xl mt-3 font-semibold text-orange-500">Administrative Actions</h3>
            <a class="underline hover:underline-offset-4 underline-offset-2 text-sky-500 font-serif" href="/sports/new-sport">Create a new sport</a> <br>
            <a class="underline hover:underline-offset-4 underline-offset-2 text-sky-500 font-serif" href="/sports/reports/insights">View reports</a>
            </div>
            <% } %>
    <hr class="rounded mt-4">
    <h2 class="font-semibold font-serif text-green-400 mt-4 text-base">You have following upcoming sessions:</h2>
     <div class="w-fit">
        <% if(session.length > 0){ %>
        <ul class="list-none">
                <% for(var i=0; i < session.length; i++) { %>
                <li>
                    <div class="flex items-center w-full  place-content-evenly my-2 px-2 py-1 rounded hover:bg-purple-50 border border-violet-400">
                       <% if(session[i].isCanceled==true){ %>
                            <a class="text-base" href="/sports/<%= session[i].sportName %>/canceled-session/<%= session[i].id %>"><%= session[i].sportName %>-<%= session[i].dateTime.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></a>
                        <% }else{ %>
                            <a class="text-base" href="/sports/<%= session[i].sportName %>/session/<%= session[i].id %>"><%= session[i].sportName %>-<%= session[i].dateTime.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></a>
                        <% } %>
                        <!-- <p class="w-full"></p> -->
                         <% if(session[i].players==1){ %>
                            <p class="text-base text-red-700 ml-5"> Last Slot</p>
                        <% }else if(session[i].players==0){ %>
                            <p class="text-base text-red-700 ml-5"> Fully Booked</p>
                            <% }else{ %>
                                <p class="text-base ml-5"><%= session[i].players+" slots" %></p>
                            <% } %>
                            <% if(session[i].isCanceled==true){ %>
                                <p class="text-base text-red-700 ml-5">CANCELED</p>
                            <% } %>
                    </div>
                </li>
                <% } %>
            </ul>
            <% }else{ %>
                <h2 class="font-semibold font-serif text-red-400 font-semibold font-serif">There are no upcoming sessions available. Join to see here</h2>
                <% } %> 
     </div>
                <hr class="rounded mt-4">
                <!-- sports -->
            <div style="margin: 50px;">
                <h2 class="text-fuchsia-500 font-semibold font-serif mt-2f">The following sports are available. Please select one:</h2>
                <div class="w-fit">
                    <% if(sports.length > 0) { %>
                    <ul class="list-none">
                <% for(var i=0; i < sports.length;i++){ %>
                <li>
                    <div class="flex w-full flex justify-center my-2 px-2 py-1 rounded hover:bg-purple-50 border border-indigo-300">
                        <a class="text-base text-teal-500 font-semibold font-serif" href="/sports/<%=sports[i].sports_name%>"><%=sports[i].sports_name %></a>
                    </div>
                </li>
                <% } %>
            </ul>
            <% } else { %>
                <h2 class="font-semibold font-serif text-red-400 font-semibold font-serif">There are no sports available for scheduling a session</h2>
                <% } %>
                </div>
            </div>
            <hr class="rounded mt-4">
                <!-- sessions created by current user -->
                <h2 class="font-semibold font-serif text-green-400 mt-4 text-base">The sessions you have created</h2>
                <div class="w-fit">
                    <% if(sessionByUser.length > 0){ %>
        <ul class="list-none">
                <% for(var i=0; i < sessionByUser.length; i++) { %>
                <li>
                    <div class="flex items-center place-content-evenly w-full my-2 px-2 py-1 rounded hover:bg-purple-50 border border-violet-400">
                        <% if(sessionByUser[i].dateTime < new Date()){ %>
                            <a class="text-base" href="/sports/<%= sessionByUser[i].sportName %>/previous-session/<%= sessionByUser[i].id %>"><%= sessionByUser[i].sportName %>-<%= sessionByUser[i].dateTime.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></a>
                        <% }else if(sessionByUser[i].isCanceled==true){ %>
                            <a class="text-base" href="/sports/<%= sessionByUser[i].sportName %>/canceled-session/<%= sessionByUser[i].id %>"><%= sessionByUser[i].sportName %>-<%= sessionByUser[i].dateTime.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></a>
                        <% }else{ %>
                            <a class="text-base" href="/sports/<%= sessionByUser[i].sportName %>/session/<%= sessionByUser[i].id %>"><%= sessionByUser[i].sportName %>-<%= sessionByUser[i].dateTime.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></a>
                        <% } %>
                        <% if(sessionByUser[i].dateTime < new Date()){ %>
                                <p class="text-base text-red-700 ml-5">Expired</p>
                        <% }else if(sessionByUser[i].isCanceled==true){ %>
                                <p class="text-base text-red-700 ml-5">CANCELED</p>
                         <% }else if(sessionByUser[i].players==1){ %>
                            <p class="text-base text-red-700 ml-5"> Last Slot</p>
                        <% }else if(sessionByUser[i].players==0){ %>
                            <p class="text-base text-red-700 ml-5"> Fully Booked</p>
                            <% }else{ %>
                                <p class="text-base ml-5"><%= sessionByUser[i].players+" slots" %></p>
                            <% } %>
                    </div>
                </li>
                <% } %>
            </ul>
            <% }else{ %>
                <h2 class="font-semibold font-serif text-red-400 font-semibold font-serif">There are no sessions Created by you.</h2>
                <% } %> 
                </div>
</body>
</html>