<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= sport[0].sports_name %></title>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <div>
                <h1 class="text-6xl font-semibold text-slate-600 mt-3"><%= sport[0].sports_name %></h1>
            </div>
        <div class="mt-3">
            <h3 class="text-4xl font-semibold text-stone-500 mt-3">Previous Sessions</h3>
        </div>
    <% if(session.length > 0){ %>
        <ul class="list-none mt-6">
                <% for(var i=0; i < session.length; i++) { %>
                <li>
                    <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50 border border-violet-400">
                        <a class="text-base" href="/sports/<%= sport[0].sports_name %>/previous-session/<%= session[i].id %>"><%= session[i].dateTime.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></a>
                          <% if(session[i].players==1){ %>
                            <p class="text-base text-red-700 ml-5"> Last Slot</p>
                        <% }else if(session[i].players==0){ %>
                            <p class="text-base text-red-700 ml-5"> Fully Booked</p>
                            <% }else{ %>
                                <p class="text-base ml-5"><%= session[i].players+" slots" %></p>
                            <% } %>
                            <p class="text-base text-red-700 ml-5">Expired</p>
                    </div>
                </li>
                <% } %>
            </ul>
            <% }else{ %>
                <h2 class="font-semibold font-serif text-red-400 font-semibold font-serif mt-10">There are no previous sessions available.</h2>
                <% } %>
    </div>
    </div>
</body>
</html>