<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <style>
        body {
  font-family: sans-serif;
  background: white;
}

.users:hover .trash-icon {
  display: block;
}

.users {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
</style>
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= session[0].sportName %>- Previous Session</title>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <h1 class="text-4xl font-semibold text-slate-600 mt-3"><%= session[0].sportName %> Previous Session #<%= session[0].id %></h1>
    <h3 class="text-2xl font-semibold text-stone-500 mt-3">This previous session is scheduled for <%= session[0].dateTime.toLocaleString('en-US', {
  day: '2-digit',
  month: '2-digit',
  year: 'numeric',
  hour: '2-digit',
  minute: '2-digit',
  hour12: true
}) %>, to be played at "<%= session[0].place %>"</h3>
    <h3 class="text-2xl font-semibold text-slate-400 mt-3">Players - <%= session[0].members.length+players.length %></h3>
    <% if(session[0].members.length > 0){ %>
        <ul class="list-none">
                <% for(var i=0; i < session[0].members.length; i++) { %>
                <li class="users">
                    <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50 border border-violet-400">
                        <h3><%= session[0].members[i] %></h3>
                    </div>
                </li>
                <% } %>
            </ul>
            <% } %>
            <!-- players  -->
            <% if(players.length > 0){ %>
        <ul class="list-none">
                <% for(var i=0; i < players.length; i++) { %>
                <li class="users">
                    <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50 border border-violet-400">
                        <% if(players[i].userId==userId){ %>
                            <h3 class="text-slate-500">You</h3>
                        <% }else{ %>
                            <% if(session[0].userId==players[i].userId){ %>
                                <h3><%= players[i].userName %></h3>
                                <h3 class="ml-6 text-gray-400">(Organizer)</h3>
                            <% }else{ %>
                                <h3><%= players[i].userName %></h3>
                            <% } %>
                            <% } %>
                    </div>
                </li>
                <% } %>
            </ul>
            <% } %>

            <% if(session[0].members.length==0 && players.length==0){ %>
                <h2 class="font-semibold font-serif text-red-400 font-semibold font-serif mt-5">There are no players joined this session.</h2>
            <% } %>
        </div>
    </div>
</body>
</html>