<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <style>
        html,body{
            height: 100%;
        }
        hr.rounded {
        border-top: 8px solid #d7d7d7;
        border-radius: 5px;
        }
    </style>
    <title>Reports</title>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <h1 class="text-4xl font-semibold text-slate-600 mt-3">Reports</h1>
    <h3 class="text-2xl font-semibold text-stone-500 mt-3">Here's a quick look at recent activity:</h3>
    <h3 class="text-xl font-semibold text-stone-400 mt-3">Click on the sports to see insights.</h3>
    <form action="/sports/reports/insights" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <label for="startDate">Start Date</label>
                <input type="datetime-local" name="startDate" class="border border-gray-300 text-gray-900 rounded p-2 w-full" required>
                <label for="endDate">End Date</label>
                <input type="datetime-local" name="endDate" class="border border-gray-300 text-gray-900 rounded p-2 w-full" required>
                <button type="submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2 mt-3">Filter</button>
            </form>
    <h2 class="text-2xl font-semibold text-red-500 mt-3">Sport Rankings</h2>
    <% if(rankings.length > 0){ %>
        <ul class="list-none">
                <% for(var i=0; i < rankings.length; i++) { %>
                <li class="users">
                    <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50 border border-violet-400">
                        <a href="/sports/reports/<%= rankings[i].name %>/insights" class="font-semibold font-serif text-green-400 text-xl"><span class="material-symbols-outlined">grade </span>  <%= i+1 %>.<%= rankings[i].name %> sessions - <%= rankings[i].count %></a>
                    </div>
                </li>
                <% } %>
            </ul>
        <% }else{ %>
            <h2 class="font-semibold font-serif text-red-400 mt-5">There are no sports available.</h2>
            <% } %>
            <hr class="rounded mt-4 mb-4">
        </div>
    </div>
</body>
</html>