<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token= document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
        
        let deleteSport =  (async()=>{
            let deleteConfirm = await confirm(`Do you want to delete this sport(<%= sportName %>)`);
            if(deleteConfirm==true){
            fetch(`/sports/deleteSport/<%= sportId %>`, {
      method: "delete", // or 'PUT'
      headers: {
        "Content-Type": "application/json",
        
      },
      body:JSON.stringify({
            "_csrf":token,
        })
    }).then((res) => {
        if(res.ok){
            window.location.assign("/sports");
        }
    })
    .catch((err) => {
        console.error(err);
    })
}
        });
    </script>
    <title><%= sportName %></title>
</head>
<body>
    <h1><%= sportName %></h1>
    <div>
        <h3>Upcoming Sessions</h3>
        <% if(isAdmin){ %>
            <div style="float: right;">
            <a href="/sports/update-sport/<%= sportName %>/<%= sportId %>">Edit Sport</a>
            <a href="#" class="ml-2" onclick="deleteSport()">Delete Sport</a>
        </div>
        <% } %>
    </div>
    <% if(session.length > 0){ %>
        <ul class="list-none">
                <% for(var i=0; i < session.length; i++) { %>
                <li>
                    <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                        <a class="text-base" href="/sports/<%= sportName %>/session/<%= session[i].id %>"><%= session[i].dateTime.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></a>
                         <% if(session[i].players==1){ %>
                            <p class="text-base text-red-700 ml-5"> Last Slot</p>
                        <% }else if(session[i].players==0){ %>
                            <p class="text-base text-red-700 ml-5"> Fully Booked</p>
                            <% }else{ %>
                                <p class="text-base ml-5"><%= session[i].players+" slots" %></p>
                            <% } %>
                    </div>
                </li>
                <% } %>
            </ul>
            <% }else{ %>
                <h2>There are no sessions available to join right now. Create one?</h2>
                <% } %>
                <div>
                    <a href="/sports/<%= sportName %>/new-session">Create a new session</a>
                    <a href="/sports/<%= sportName %>/previous-session">View previous sessions</a>
                </div>
        

</body>
</html>