<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <style>
        hr.rounded {
        border-top: 8px solid #d7d7d7;
        border-radius: 5px;
        }
    </style>
    <title><%= sportName %> Insights</title>
</head>
<body>
     <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <h1 class="text-4xl font-semibold text-slate-600 mt-3"><%= sportName %> Insights</h1>
            <h3 class="text-xl font-semibold text-stone-400 mt-3">Click on the Sessions to see details.</h3>
            <% if(!isNaN(startDate) && !isNaN(endDate)){ %>
            <h2 class="text-green-500 font-semibold  mt-2f">Insights from <%= startDate.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %> to <%= endDate.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></h2>
            <% }else{ %>
               <h2 class="text-green-500 font-semibold  mt-2f">Insights of <%= new Date().toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></h2>
            <% } %>
            
            <h2 class="text-fuchsia-500 font-semibold font-serif mt-2f">Previous Sessions - <%= previousSession.length %></h2>
            <% if(previousSession.length > 0){ %>
        <ul class="list-none mt-6">
                <% for(var i=0; i < previousSession.length; i++) { %>
                <li>
                    <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50 border border-violet-400">
                        <a class="text-base" href="/sports/<%= sportName %>/previous-session/<%= previousSession[i].id %>"><%= previousSession[i].dateTime.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></a>
                         <% if(previousSession[i].players==1){ %>
                            <p class="text-base text-red-700 ml-5"> Last Slot</p>
                        <% }else if(previousSession[i].players==0){ %>
                            <p class="text-base text-red-700 ml-5"> Fully Booked</p>
                            <% }else{ %>
                                <p class="text-base ml-5"><%= previousSession[i].players+" slots" %></p>
                            <% } %>
                    </div>
                </li>
                <% } %>
            </ul>
            <% }else{ %>
                <h2 class="font-semibold font-serif text-red-400 font-semibold font-serif">There are no previous sessions available.</h2>
                <% } %>
                <hr class="rounded mt-4 mb-4">
                <!-- todays sessions -->
                 <h2 class="text-fuchsia-500 font-semibold font-serif mt-2f">Today's Sessions - <%= todaysSession.length %></h2>
            <% if(todaysSession.length > 0){ %>
        <ul class="list-none mt-6">
                <% for(var i=0; i < todaysSession.length; i++) { %>
                <li>
                    <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50 border border-violet-400">
                        <% if(todaysSession[i].dateTime < new Date()){ %>
                            <a class="text-base" href="/sports/<%= sportName %>/previous-session/<%= todaysSession[i].id %>"><%= todaysSession[i].sportName %>-<%= todaysSession[i].dateTime.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></a>
                        <% }else{ %>
                            <a class="text-base" href="/sports/<%= sportName %>/session/<%= todaysSession[i].id %>"><%= todaysSession[i].sportName %>-<%= todaysSession[i].dateTime.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></a>
                        <% } %>
                        <% if(todaysSession[i].dateTime < new Date()){ %>
                                <p class="text-base text-red-700 ml-5">Expired</p>
                         <% }else if(todaysSession[i].players==1){ %>
                            <p class="text-base text-red-700 ml-5"> Last Slot</p>
                        <% }else if(todaysSession[i].players==0){ %>
                            <p class="text-base text-red-700 ml-5"> Fully Booked</p>
                            <% }else{ %>
                                <p class="text-base ml-5"><%= todaysSession[i].players+" slots" %></p>
                            <% } %>
                    </div>
                </li>
                <% } %>
            </ul>
            <% }else{ %>
                <h2 class="font-semibold font-serif text-red-400 font-semibold font-serif">There are no todays's sessions available.</h2>
                <% } %>
                <hr class="rounded mt-4 mb-4">
                <!-- upcoming sessions -->
                 <h2 class="text-fuchsia-500 font-semibold font-serif mt-2f">Upcoming Sessions - <%= upcomingSession.length %></h2>
            <% if(upcomingSession.length > 0){ %>
        <ul class="list-none mt-6">
                <% for(var i=0; i < upcomingSession.length; i++) { %>
                <li>
                    <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50 border border-violet-400">
                        <a class="text-base" href="/sports/<%= sportName %>/session/<%= upcomingSession[i].id %>"><%= upcomingSession[i].dateTime.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></a>
                         <% if(upcomingSession[i].players==1){ %>
                            <p class="text-base text-red-700 ml-5"> Last Slot</p>
                        <% }else if(upcomingSession[i].players==0){ %>
                            <p class="text-base text-red-700 ml-5"> Fully Booked</p>
                            <% }else{ %>
                                <p class="text-base ml-5"><%= upcomingSession[i].players+" slots" %></p>
                            <% } %>
                    </div>
                </li>
                <% } %>
            </ul>
            <% }else{ %>
                <h2 class="font-semibold font-serif text-red-400 font-semibold font-serif">There are no upcoming sessions available.</h2>
                <% } %>
                <hr class="rounded mt-4 mb-4">
                <!-- Canceled sessions -->
                 <h2 class="text-fuchsia-500 font-semibold font-serif mt-2f">Canceled Sessions - <%= canceledSession.length %></h2>
            <% if(canceledSession.length > 0){ %>
        <ul class="list-none mt-6">
                <% for(var i=0; i < canceledSession.length; i++) { %>
                <li>
                    <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50 border border-violet-400">
                        <a class="text-base" href="/sports/<%= sportName %>/canceled-session/<%= canceledSession[i].id %>"><%= canceledSession[i].dateTime.toLocaleDateString('en-US',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        }) %></a>
                         <% if(canceledSession[i].players==1){ %>
                            <p class="text-base text-red-700 ml-5"> Last Slot</p>
                        <% }else if(canceledSession[i].players==0){ %>
                            <p class="text-base text-red-700 ml-5"> Fully Booked</p>
                            <% }else{ %>
                                <p class="text-base ml-5"><%= canceledSession[i].players+" slots" %></p>
                            <% } %>
                            <p class="text-base text-red-700 ml-5">Canceled</p>
                    </div>
                </li>
                <% } %>
            </ul>
            <% }else{ %>
                <h2 class="font-semibold font-serif text-red-400 font-semibold font-serif">There are no canceled sessions available.</h2>
                <% } %>
        </div>
     </div>
</body>
</html>